*{

margin: 0;
padding: 0;
}
html, body * { box-sizing: border-box; font-family: 'Domine', serif;

}



body  {background: #2c3e42 ;
overflow-x: hidden;}

 header {
position: relative;
display: flex;
justify-content: center;

}
    .container{
      display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;


}
.header__logo {
  margin-right: 100px;

}

.bag:before{
 content: "⠀⠀";
 background-image: url('bag.png');
 background-size: 23px 22px;

background-repeat: no-repeat;
background-position: left;

}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 80px;
  font-size: 20px;
}

footer .nav-link{
    color: #2c3e42;
}

.nav{
	display: flex;
	flex-direction: column;
}

footer{
position: absolute;
	left: 0;

	width: 100%;
	align-items: center;
	justify-content: space-around;
  background: url('skver_.jpg');
	font-size: 70px;
  color: #2c3e42;
  height: 250px;
  display: flex;
}


.social{
	display: flex;
}
.title__logo{
	font-size: 40px;

}
.number{
	font-size: 30px;

}
.mail{
	font-size: 20px;
}

.icon-close, .icon-menu{
	display:none;
}

@media screen and (max-width: 400px) and (min-width: 100px)
{
body {
  left: 0;
  overflow-X: hidden;
  margin: 0;
  position: relative;
}

.btn:after,
.btn:before{
	display:none;
}

.btn{
	font-size: 15px;
  margin-top: 0px;
}

.container {
  display: flex;
  align-items: baseline;
}

footer{
	display:flex;
	flex-wrap: wrap;
}


.header__logo{
	margin-top:10px;
	height: 55px;
}

 .menu {
  background: white;
  left: -100%; /* прячем меню */
  height: 100%;
  z-index: 99999;
  position: fixed;
  width: 100%;

  background: #2c3e42;
  display: flex;


}

.menu nav {
  border-top: 1px solid #555;
  list-style: none;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.menu nav:hover {
  cursor: pointer;

  }

.menu a {
   color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;

}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
  display:inline;
}



.icon-menu {

  cursor: pointer;
  font-size: 20px;

  padding-left: 25px;
  display:inline;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
  display:inline;
}

  .header__logo {
  margin-right: 50px;

}
  .nav__login{
	display: flex;
   align-items: flex-end;
  }


  .nav{
  	display:none;
  }
  .title__logo{
  	display:none;

  }
	header {

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

.mail, .number{
	font-size:15px;

}
footer{
	display:flex;
	flex-wrap: wrap;
}
}

@media screen and (max-width: 700px) and (min-width: 400px)
{
body {
  left: 0;
  overflow-X: hidden;
  margin: 0;
  position: relative;
}

.btn:after,
.btn:before{
	display:none;

}

footer{
	display:flex;
	flex-wrap: wrap;
}


.header__logo{
	margin-top:10px;
	height: 55px;
}

.menu {
  background: white;
  left: -100%; /* прячем меню */
  height: 100%;
  z-index: 10000;
  position: fixed;
  width: 100%;
  background: #2c3e42;
  display: flex;


}

.menu nav {
  border-top: 1px solid #555;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
    justify-content: center;
  line-height: 45px;
  padding: 0;
}
.menu nav:hover {
  cursor: pointer;

  }

.menu a {
   color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
  display:inline;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  display:inline;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
  display:inline;
}


  .nav__login{
	display: flex;
   align-items: flex-end;
  }
  .nav__link {
  text-decoration: none;
  color: #003366;
  margin-right: 50px;
  font-size: 20px;
}



 header {

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

.mail, .number{
	font-size:15px;

}
footer{
	display:flex;
	flex-wrap: wrap;
}
.nav{
	display:none;
}
.title__logo{
	display:none;

}

.container {
  display: flex;
  align-items: baseline;
}

}

@media screen and (max-width: 1200px) and (min-width: 700px)
{
body {
  left: 0;
  overflow-X: hidden;
  margin: 0;
  position: relative;
}

.btn:after,
.btn:before{
	display:none;

}

.container {
  display: flex;
  align-items: baseline;
}
footer{
	display:flex;
	flex-wrap: wrap;
}


.header__logo{
	margin-top:10px;
	height: 55px;
}

.menu {
  background: white;
  left: -100%; /* прячем меню */
  height: 100%;
  z-index: 9999999;
  position: fixed;

  width: 100%;
  background: #2c3e42;
  display: flex;

}

.menu nav {
  border-top: 1px solid #555;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
    justify-content: center;
}

.menu nav {
  border-bottom: 1px solid #555;

  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;

}

.menu nav:hover {
  cursor: pointer;

  }

.menu a {
   color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
  display:inline;


}


.icon-menu {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  display:inline;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
  display:inline;
}
  .nav__login{
	display: flex;
   align-items: flex-end;
  }
  .nav__link {
  text-decoration: none;
  color: #003366;
  margin-right: 50px;
  font-size: 20px;
}

 header {

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

.mail, .number{
	font-size:15px;

}

}
