

.buy{
	display: flex;
  align-items: center;
  justify-content: center;
}
.gradient-btn_Prices {

  transform: translate(0, 10%);
  width: 150px;
  height: 30px;
  text-align: center;
  line-height:20px;
  font-size: 7px;
margin-bottom: 12px;
margin-top: 20px;
  color: #be9a9a;
  background: #2c3e42;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  border: 4px solid #2c3e42;
  border-radius: 60px;
  box-shadow: 10px 5px 10px #5f746f;
  overflow: hidden;
}

.gradient-btn_account  {

  transform: translate(0, 10%);
  width: 150px;
  height: 50px;
  text-align: center;
  line-height:40px;
  font-size: 18px;
margin-bottom: 40px;
margin-top: 20px;
margin-left: 20px;
  color: #be9a9a;
  background: #2c3e42;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  border: 4px solid #2c3e42;
  border-radius: 60px;
  box-shadow: 10px 5px 10px #5f746f;
  overflow: hidden;
}


.gradient-btn_Basket  {

  transform: translate(0, 10%);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height:40px;
  font-size: 12px;
margin-bottom: 40px;

margin-left: 20px;
  color: #2c3e42;
  background:  #be9a9a;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  border: 4px solid #2c3e42;
  border-radius: 60px;
  box-shadow: 10px 5px 10px #5f746f;
  overflow: hidden;
}

.gradient-btn_form  {

  transform: translate(0, 10%);
  width: 200px;
  height: 40px;
  text-align: center;
  line-height:31px;
  font-size: 12px;


margin-left: 20px;
  color: #2c3e42;
  background:  #be9a9a;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  border: 4px solid #2c3e42;
  border-radius: 60px;
  box-shadow: 10px 5px 10px #5f746f;
  overflow: hidden;
}


.gradient-btn_Prices::before,  .gradient-btn_account::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2c3e42, #5f746f);
  z-index: -1;
  border-radius: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}
.gradient-btn_Basket::before, .gradient-btn_form::before {
	content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #5f746f, #be9a9a);
  z-index: -1;
  border-radius: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}

.gradient-btn_Prices:hover::before, .gradient-btn_account:hover::before, .gradient-btn_Basket:hover::before, .gradient-btn_form:hover::before {
  transform: scaleX(1);
}
