
  :root{
  --pink-color: #be9a9a;
  --light-green: #5f746f;
  --dark--green: #2c3e42;}

  .form-styling {

    height: 35px;
  padding-left: 15px;
  	border: none;
  	border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
  }


.form-styling-lf-name{
  width: 100%;
}





.description{
  width: 20%;
  text-align: center;
  font-size: 20px;

}


.basket-form{
  display: flex;

  justify-content: space-around;
  align-items: center;
height: 45%;
width: 100%;
background-color: var(--light-green);
}



main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
height: 45%;
  height: 720px;

}

  label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255,255,255,1);
    display: block;
  }

  :focus {outline: none;
  }

   .basket-form-part2{
     display: flex;
     flex-direction: column;
     align-items: center;
     border-left: 2px solid var(--dark--green);
     padding-left: 60px;
     border-right: 2px solid var(--dark--green);
     padding-right: 60px;
     width: 35%;
   }

    .basket-form-part3{
    display: flex;}

.information__ticket{
  width: 17%;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  line-height: 65px;
}

.ticket__inform{
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket__inform__value{
  font-size: 28px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient_btn_form{
  display: none;
}

.gradient-btn_form{
margin-top: 10px;
}

.information__block{
  position: absolute;
  top:35%;

  left: 26%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  background: var(--pink-color);
  padding: 15px;
  color:#fff;
}

@media screen and (max-width: 1080px) and (min-width: 650px)
{
.birth_date{

  text-align: center;
}
  .basket-form-part2{

    width: 40%;
  }

  .basket-form{
    display: flex;

    justify-content: space-around;
    align-items: center;
  height: 55%;
  width: 100%;
  background-color: var(--light-green);
  }


  main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 55%;
    height: 720px;

  }

.gradient-btn_form{
  display: none;
}
.description{
  font-size: 16px;

}
.basket-form{
flex-wrap: wrap;

}
.information__ticket{
  width: 20%;
}
.ticket__inform{
  font-size: 16px;
}

.ticket__inform__value{
  font-size: 18px;
}
.gradient_btn_form {
display: inline;
  transform: translate(0, 10%);
  width: 160px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  font-size: 8px;
margin-bottom: 12px;
margin-top: 20px;
margin-left: 10px;
  color: #be9a9a;
  background: #2c3e42;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  border: 4px solid #2c3e42;
  border-radius: 60px;
  box-shadow: 10px 5px 10px #5f746f;
  overflow: hidden;
  z-index: 9999;
}

.information__block{

  top:23%;


}

}

@media screen and (max-width: 650px) and (min-width: 150px)
{

  .basket-form-part2{

    width: 80%;
  }




 .form-styling{
  width: 100%;
}


.gradient-btn_form{
  display: none;
}
.description{
  font-size: 16px;

}
.ticket__inform__value{
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.ticket__inform{
  display: none;
}

.ticket__inform__value{
  font-size: 22px;
  color: var(--pink-color);
}
.gradient_btn_form{
display: inline;
  transform: translate(0, 10%);
  width: 180px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  font-size: 8px;
margin-bottom: 12px;
margin-top: 20px;
margin-left: 10px;
  color: #be9a9a;
  background: #2c3e42;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: .5s;
  border: 4px solid #2c3e42;
  border-radius: 60px;
  box-shadow: 10px 5px 10px #5f746f;
  overflow: hidden;
  z-index: 9999;
}

main{
  height: 100%;
margin-bottom: 50px;

}

.basket-form{
  height: 100%;
margin-top: 180px;
  display: flex;
  flex-direction: column;
  background: var(--light-green);

}
.basket-form-part2{
  border: none;
   width: 85%;
}

.description{
  width: 80%;
  text-align: center;
  font-size: 16px;
  margin: 30px 0px 20px 0px;

}

.information__ticket{
  width: 80%;
  font-size: 30px;
  display: flex;
align-items: center;
justify-content: center;


}

.information__block{
  position: absolute;
  top:23%;

  left: 26%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  background: var(--pink-color);
  padding: 15px;
  color:#fff;
}

}
