p{
  color:black;!important
}

.price{
 font-size: 35px;
 color: #c94036;
 margin-bottom: 30px;
 text-align: center;

}

.name_info{

margin-top:20px;
 color: #c94036;
 font-weight: bolder;
  border: none;
  background:  #003366 ;
  border-radius: 15px;
  padding: 15px ;
  text-decoration: none;
  width:30%;
  font-size: 35px;


}

.day{
 text-align: center;
 color: #003366;
 font-size: 25px;
 margin-bottom: 15px;
}

.ticket{
  box-shadow: 0 10px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 flex-direction: column;
 line-height: 30px;
 display: flex;

 width: 30%;
 margin-right: 25px ;
 margin-bottom: 25px ;
 color: #000;
background-color: #dddfe6;}

.description{
 text-align: center;
  color: #003366;
  font-size: 20px;
  margin-left: 20px;
margin-right: 20px;
}

.form{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  flex-direction: column;
}
.form-styling {
  width: 60%;
  height: 35px;
 padding-left: 15px;
 border: none;
 border-radius: 20px;
  margin-top: 10px;
  background: white;
}

.form-styling-submit {
  width: 70%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #003366;
  color: #dddfe6;
}
.form-styling1 {
  width: 25%;
  height: 25px;
 padding-left: 15px;
 border: none;
text-align: left;
 border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(255,255,255,.2);
}
:focus {outline: none;
}

.date_start{
  display: flex;
  flex-direction: row;
  margin-left: 3px;
}

.select{
  border-radius: 15px;
  padding: 7px 7px;
  font-size: 15px;
  border: none;
}
