:root{
--pink-color: #be9a9a;
--light-green: #5f746f;
--dark--green: #2c3e42;}


.guide_all_image{
  width: 270px;
  margin-top: 15px;
  margin-right: 25px;
  margin-bottom: 15px;
    overflow: hidden;
    position: relative;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.guide_all_images{
  display: none;
}

.text-guide1{
  z-index: 2;
  font-size: 25px;
  color: var(--dark--green);
  font-weight: bolder;
  margin-left: 20px;
  margin-right: 20px;
}

.text-guide1:hover{
  z-index: 2;
  color: var(--light-green);

  transition: all 1.2;
}

.text_guide{
width: 302px;
height: 82.01px;
display: flex;
justify-content: center;
align-items: center;
  position: absolute;

}

.guide_all_image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(44, 62, 66, 0.5);
  transition: all 1.5s;

}

.text_guide:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(190, 154, 154, 0.8);
  transition: all 1.5s;

}

.text_guide:hover:before {
  background:  rgba(190, 154, 154, 0.8);
  height: 250px;
  transition: all 1.5s;
}




.sale__taxi{
  text-align: center;
  background-color: rgba(95, 116, 111, 0.7);
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.taxi{
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 80px;
}
.description__sale{
  font-size: 17px;
  margin-bottom: 25px;
  margin-top: 55px;
}
.line{
    background-color: #000000;
color: #000000;
border: none;
height: 3px;
margin: 0;
padding: 0;

}
.sale{
  -webkit-text-stroke-width: 0.3px;
 -webkit-text-stroke-color: #000000;
 color: rgba(95, 116, 111, 0.7);
 font-size: 18ex;


}
.section1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;

}
.img_attractions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.guide_attract{
  display: flex;
align-items: center;
justify-content:center;

}


.help h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 15px;
    color: white;
    text-align: center;
}

.help{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}




.video-cover{
  width: 100%;
  display: table;


  min-height: 45vh;
  background-size: cover;
}






.guide_slogan{
  display: flex;
  text-align: center;
  font-size: 18px;
  width: 40%;
  color: white;
}


.line_vert{

  display: flex;

}

.line_vert::before{
  content:"⠀⠀";
  background-image: url('https://cdn.pixabay.com/photo/2012/04/24/12/04/arrow-39644_960_720.png');
  height: 90px;
  width: 90px;
   background-size: 120px 90px;
   background-repeat: no-repeat;
   -webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);
 transform: rotate(-90deg);


}

@media screen and (max-width: 711px) and (min-width: 550px)
{
  .sale{
    font-size: 9ex;
  }
  .sale__taxi{height: 250px;
  width: 80%;}

  .line_vert{
    display: none;
  }

  .sale__taxi{
    justify-content: space-around;
  }
    .description__sale{
      margin-top: 5px;
    }

    .taxi{
        margin-top: 135px;
    }
}
@media screen and (max-width: 710px) and (min-width: 100px)
{



  .video-cover{
    display: none;
  }

.guide_all_image{
  width: 200px;
  border-radius: 100px;
  height: 200px;
}

.guide_slogan{
  width: 100%;
}

.help h2{
  font-size: 20px;
}

.guide_slogan p{
    font-size: 15px;
}

  .guide_all_image{
flex-wrap: wrap;
  }


}

@media screen and (max-width: 1200px) and (min-width: 700px)
{




.guide_slogan{
  width: 70%;
}




  .guide_all_image{
flex-wrap: wrap;
  }


}


@media screen and (max-width: 1100px) and (min-width: 710px)
{




.sale{
  font-size: 12ex;
}
.sale__taxi{height: 300px;}

.description__sale{
  margin-top: 20px;
}

.line{
  margin-left: 15px;
  margin-right: 15px;
}

.line_vert::before{

  height: 70px;
  width: 70px;
   background-size: 90px 70px;


}

}

@media screen and (max-width: 550px) and (min-width: 100px)
{
  .sale{
    font-size: 70px;
  }


  .sale__taxi{height: 270px;
  width: 80%;}

  .line_vert{
    display: none;
  }

  .sale__taxi{
    justify-content: space-around;
  }
    .description__sale{
      margin-top: 5px;
    }

    .taxi{
        margin-top: 135px;
    }
}
