.section_reset_password{
 display: flex;
 flex-direction: column;
 margin-top: 0px;
 align-items: center;
 justify-content: center;
margin-bottom: 50px;

}
table{
  margin-bottom: 100px;
}
h1{
  text-align: center !important;
}
td{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
label{
  margin-right: 30px !important;
}
p{
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center !important;
}
.indent{
  margin-bottom: 200px;
}

.errors{
  font-size: 20px;
}
.up{

  margin-top: 30px;
}
