
.main__desc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.description{
margin-top: 150px;
width: 70%;
display: flex;
justify-content: space-around;
align-items: center;
z-index: 99999;
color:#fff;
}



.lite__photo img{
overflow: hidden;
     z-index: -99999;
     position: relative;


}

.lite__photo:before  {

    content: "";
    position: absolute;
    z-index: -10;
    width : 600px;
     height: 450px;
    background: rgba(44, 62, 66, 0.8);

  }

.description__lite{
  position: absolute;

}

.description__lite h2{
  font-size: 55px;
  transform: translate(-79px, -79px);
}

.description__lite p{
  width: 57%;
  font-size: 25px;
  transform: translateX(-79px);

}

.gradient_btn_Prices{

 display:none;

}

.main__price, .main__day{
  color: #be9a9a;
}

.tickets{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.tickets1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0px 50px 0px;
}

.ticket__infor{
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
}

.information{
display: flex;
justify-content: space-around;
align-items: center;
color: #2c3e42;
}

.ticket{
 box-shadow: 0 10px 18px #5f746f, 0 10px 10px #5f746f;
	flex-direction: column;
    border-radius: 40px;
	display: flex;
	width: 30%;
	margin-right: 25px ;
	margin-bottom: 25px ;
	color: #000;
background-color: #ffffff;}

.name_info{
  font-size: 50px;
  color: #5f746f;
}

.more__information{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 22px;
  text-align: center;
}

hr{
  background-color: #be9a9a;
  height:2px;
  border: none;
  margin: 12px 35px 12px 35px;
}
.ticket__infor .logo{

  margin-left: 10px;
  margin-top: 10px;}



  @media screen and (max-width: 500px) and (min-width: 100px)
  {


    .ticket, .ticket1{
  	width: 268px;
    }



  .description__lite{
    position: static;

  }

  .description h2{
    font-size: 28px;
    transform: translate(0px, 0px);
      width: 100%;
    margin-bottom: 10px;
  }

  .description p{
    font-size: 17px;
    transform: translate(0px, 0px);
      width: 100%;
  }


  .gradient-btn_Prices {
  	display: none;
  }

  .gradient-btn_Prices::before, .gradient-btn_Prices:hover::before{
  	display: none;

  }

  .name_info{
    font-size: 30px;
  }

  .more__information{

    font-size: 20px;
  }

  .description{
    margin-top: 115px;
    width: 100%;
    text-align: center;

  }
  .logo{
    width: 90px;
  }



  .img__kharkiv_map{
    width: 90px;
    height: 90px;
  }

  .gradient_btn_Prices{
    display:inline;
    width: 140px;
    height: 30px;
    text-align: center;
      line-height:30px;
    font-size:8px;
    color: #be9a9a;
    background: #2c3e42;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    border-radius: 60px;
    margin-top: 10px;
  overflow: hidden;

  }

  .lite__photo{
    display: none;
  }

}

  @media screen and (max-width: 900px) and (min-width: 500px)
  {

      .gradient_btn_Prices{
        display:inline;
        width: 140px;
        height: 30px;
        text-align: center;
          line-height:30px;
        font-size:8px;
        color: #be9a9a;
        background: #2c3e42;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 4px;
        border-radius: 60px;
        margin-top: 10px;
      overflow: hidden;

      }

      .gradient-btn_Prices {
      	display: none;
      }

      .gradient-btn_Prices::before, .gradient-btn_Prices:hover::before{
      	display: none;

      }

    .ticket, .ticket1{
    width: 280px;
    }

.logo{
  width: 90px;
}

.lite__photo{
  display: none;
}

.img__kharkiv_map{
  width: 90px;
  height: 90px;
}

.name_info{
  font-size: 35px;
}

.more__information{

  font-size: 20px;
}

.description{
  margin-top: 115px;
  width: 100%;
  text-align: center;

}
.description__lite{
  position: static;

}

.description h2{
  font-size: 38px;
  transform: translate(0px, 0px);
    width: 100%;
margin-bottom: 15px;
}

.description p{
  font-size: 22px;
  transform: translate(0px, 0px);
    width: 100%;
}

}
