ul {
  margin: 20px ;
  padding: 20px ;
}
.errorlist ul{
  margin: 5px !important;
  padding: 5px !important;
}
body  {background: url('karazin.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
  }

  :root{
  --pink-color: #be9a9a;
  --light-green: #5f746f;
  --dark--green: #2c3e42;}

.reset{
  margin:20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.reset_small{
  font-size: 12px;
  text-align: center;
}
.section_reset_password{
  min-height: 450px;
  margin-top: 150px;
}
.framesignup {
  min-height: 570px;
  width: 530px;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.frame_confirm {
  min-height: 200px;
  width: 530px;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav1 {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}


.signup-active {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}

.signup-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px var(--dark--green);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  cursor: pointer;
}
.text-error{
  height: 50px;
}
li{
  list-style-type: none;
  text-align: center;
  line-height: 20px;
}
.form-signup {
  width: 530px;
  min-height: 570px;
	font-size: 16px;
	font-weight: 300;
  padding-left: 27px;
  padding-right: 17px;

  padding-top: 55px;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.frame-end{
    margin-top: 105px;
border-top: solid 1px rgba(255,255,255,.3);
      text-align: center;
}
.forget{
  line-height: 35px;
color:#dddfe6;
font-size: 15px;
    text-decoration: none;
}
.login
{color:#dddfe6;
  font-size: 15px;
    text-decoration: none;

}


.form-signup input {
  color: #ffffff;
  font-size: 13px;

}

.form-styling {

  height: 35px;
padding-left: 15px;
	border: none;
	border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

.username{
  width: 30%;
}

.email{
  width: 65%;
    margin-left: 25px ;
}

.password1, .password2{

  width: 45%;
}
.part2{
  width: 100%;
}


.first_name, .last_name, .gender, .form-styling-date{
  width: 30%;
}

.form-styling-date{

}

.birth_date, .form-styling-part2, .form-styling-password, .form-styling-username, .form-styling-email{
  width: 100%;

}




label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

:focus {outline: none;
}


.butn-signup {
  float: left;
  background-color: var(--dark--green);
  padding-top: 8px;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: -8px;
  color:#dddfe6;
    font-size: 18px;
      text-decoration: none;
}

.butn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: rgba(255,255,255, 1);
  padding-top: 8px;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: 23px;

  left: 0px;
  top: 0px;
  -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}



 .butn-signup:hover {
    cursor: pointer;
    background-color: var(--pink-color);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

/* refresh button styling */

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--light-green);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    padding: 13px 0 0 13px;
}

.refreshicon {
    fill: #ffffff;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, transform .25s ease;
    transition: fill .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.refreshicon:hover {
  cursor: pointer;
  fill:  #ffffff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.forget2{
  display: none;
}
.part1, .part2, .birth_date, .password{
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 400px) and (min-width: 100px)
{
  .forget2{
    display: inline;
    line-height: 35px;
  color:#dddfe6;
  font-size: 10px;
      text-decoration: none;
  }
  .frame_signup {
    height: 630px;
    width: 300px;
  }

    .signup-active{
font-size: 13px;}

.form-signup{

  width: 300px;
  padding-top: 15px;
}
label{
  font-size: 10px;
  padding-bottom: 8px;
}
.form-styling{
  height: 23px;
}

.butn-animate{
  margin-top:  15px;
  font-size: 13px;
  height: 23px;
}
.butn-signup{

  font-size: 10px;
  height: 23px;
}

.frame-end{
  margin-top: 80px;
}
.forget{
  display: none;
}


.password, .birth_date, .part2{
  flex-direction: column;
}

.form-styling-password, .form-styling-date, .form-styling-part2,
.last_name, .first_name, .gender, .password1, .password2{
  width: 100%;
}



}

@media screen and (max-width: 700px) and (min-width: 400px)
{
  .forget2{
    display: none;
  }
  .framesignup {
    height: 700px;
    width: 390px;
  }

    .signup-active{
font-size: 13px;}

.form-signup{
height: 700px;
  width: 390px;
  padding-top: 15px;
}

.form-styling{
  height: 30px;
}
label{
  font-size: 13px;
  padding-bottom: 8px;
}

.password{
  flex-direction: column;
}

.form-styling-password{
  width: 100%;
}

.password1, .password2{
  width: 100%;
}
}
