{% extends 'base.html' %}
{% load static %}


{% block title %}Detail{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/buy1.css' %}">
<div class="information__block">Confirm</div>
<div class="basket-form">
<div class="description">
	<p>Indicate the name and surname of the person who will use this ticket. To determine the end date of a ticket, simply add the number of days indicated on the card to your start date.</p>
</div>


<form class = "basket-form-part2" action="{% url 'add' object.id %}" method="post">
  {% csrf_token %}

  <input class="form-styling"  type="text" name="name_person"  maxlength="2000" required id="id_name_person" placeholder="First name" class="form-styling form-styling-lf-name">
  <input class="form-styling"  type="text" name="surname_person"  maxlength="2000"  id="id_surname_person"  placeholder="Last name" required class="form-styling form-styling-lf-name">
  <label for="id_birth_date_month">Date start:</label>
  <div class="birth_date">

           <select class="form-styling form-styling-date" name="date_start_month" required id="id_date_start_month">
           <option hidden value="">Month</option>
           <option value="1">January</option>
           <option value="2">February</option>
           <option value="3">March</option>
           <option value="4">April</option>
           <option value="5">May</option>
           <option value="6">June</option>
           <option value="7">July</option>
           <option value="8">August</option>
           <option value="9">September</option>
           <option value="10">October</option>
           <option value="11">November</option>
           <option value="12">December</option></select>
          <select  name="date_start_day" required  class="form-styling form-styling-date" id="id_date_start_day">
            <option hidden value="">Day</option>
           <option value="1">1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
           <option value="5">5</option>
           <option value="6">6</option>
           <option value="7">7</option>
           <option value="8">8</option>
           <option value="9">9</option>
           <option value="10">10</option>
           <option value="11">11</option>
           <option value="12">12</option>
           <option value="13">13</option>
           <option value="14">14</option>
           <option value="15">15</option>
           <option value="16">16</option>
           <option value="17">17</option>
           <option value="18">18</option>
           <option value="19">19</option>
           <option value="20">20</option>
           <option value="21">21</option>
           <option value="22">22</option>
           <option value="23">23</option>
           <option value="24">24</option>
           <option value="25">25</option>
           <option value="26">26</option>
           <option value="27">27</option>
           <option value="28">28</option>
           <option value="29">29</option>
           <option value="30">30</option>
           <option value="31">31</option>
          </select>
          <select  name="date_start_year" required class="form-styling form-styling-date" id="id_date_start_year" >
            <option hidden value="">Year</option>
           <option value="2020">2020</option>
           <option value="2021">2021</option>
           <option value="2022">2022</option>
          </select>
          </div>
          <div class = "buy">
						<input class="gradient-btn_form"  type="submit" value="Add to basket"/>
						<input  class="gradient_btn_form"  type="submit" value="Add to basket" />
            </div>
  </form>
  <div class="information__ticket">

  					<div class="ticket__inform">
  						<div class="type__ticket__inform">Type:</div>
  					<div class="days__ticket__inform">Days:</div>
  					<div class="price__ticket__inform">Price:</div>
  						</div>

  						<div class="ticket__inform__value">

  							<div class="type__ticket"> {{ object.type }}	</div>

                {% if object.days is 1 %}
                <div class="days__ticket"> {{object.days}} Day</div>
                {% else %}
                <div class="days__ticket"> {{object.days}} Days</div>
                {% endif %}
  						<div class="price__ticket">{{ object.price }} €	</div>
  								</div>
  					</div>

  </div>


{% endblock %}
