{% extends 'base.html' %}
{% load static %}


{% block title %}How it works{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/howitworks.css' %}" />
<link rel="stylesheet" href="{% static 'css/review.css' %}" />


<article>
<h1 class="title__how">Steps for success</h1>
<section>
<div class="all_information_steps">

	<div class="infor__all">


<div class="informs">



	<div class="information__block">Choose the type of card
	<p>Open page "Price" and read carefully information about types of card, their highlights. In order to add a selected card to cart, you should sign up and  press "Add to basket".</p></div>



	<div class="information__block2">Pay
	<p>If you add all desired cards, check one more time your data and make payment using PayPal. Different changes after payment is impossible, so if you spotted a mistake, delete this card from cart and put again.</p></div>

	<div class="information__block4">Show the card at the entrance
<p>For convenience, you can take a screenshot or open the web-application on the device. It is imperative that you have your ID with the data that is written on the card. Enjoy your trip with the Shocard!</p></div>
</div>

<div class="informs__part2">

	<div class="information__block3">Find the card
	<p>In case of successful payment, you'll be able to see your cards in "Account" page. Cards, which were expired, display in history block. Also you can find your statistics and personal data there.</p></div>

	<div class="information__block1">Fill the form
	<p>After you pressed the button, you'll see the form. Please specify the person, who will use this card. Upon entering the attraction, the cardholder must show ID.</p></div>
</div>
	</div>
</div>
	<div class="infor__all__adaptiv">






	<div class="information__block">Choose the type of card
	<p>Open page "Price" and read carefully information about types of card, their highlights. In order to add a selected card to cart, you should sign up and  press "Add to basket".</p></div>

	<div class="information__block1">Fill the form
	<p>After you pressed the button, you'll see the form. Please specify the person, who will use this card. Upon entering the attraction, the cardholder must show ID.</p></div>

	<div class="information__block2">Pay
	<p>If you add all desired cards, check one more time your data and make payment using PayPal. Different changes after payment is impossible, so if you spotted a mistake, delete this card from cart and put again.</p></div>

	<div class="information__block3">Find the card
	<p>In case of successful payment, you'll be able to see your cards in "Account" page. Cards, which were expired, display in history block. Also you can find your statistics and personal data there.</p></div>

	<div class="information__block4">Show the card at the entrance
<p>For convenience, you can take a screenshot or open the web-application on the device. It is imperative that you have your ID with the data that is written on the card. Enjoy your trip with the Shocard!</p></div>






</div>


<canvas id="canvas" ></canvas>
</section>

<section>

	<h2 class="reviews">Trusted by over {{count}} customers, here's what they have to say</h2>

<div class="all__reviews owl-carousel">
{%for review in object_list %}
	<div id ="text__reviews">
	  <div class="form-left-decoration"></div>
	  <div class="form-right-decoration"></div>
	  <div class="circle"></div>
	  <div class="form-inner">

		<div class="title__review">{{review.title}} </div>
		<div class="text__review">{{review.text}}.</div>
		<div class="name__review">{{review.user.get_full_name}}</div>
		<div class="data__review">{{review.date_write}}</div>
	  </div>
	</div>
{% endfor %}

</div>

</section>
</article>



<script>



var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var x = window.screen.width;
var y = window.screen.height;
var sizeCanvas = function(x,y){
canvas.width = x - 100;
canvas.height = y + 1100;
};


sizeCanvas(x, y);





  var circle = function(x,y, radius, fillCircle){
    ctx.beginPath();
ctx.strokeStyle = "#be9a9a";
ctx.lineWidth = 4;
    ctx.arc( x, y, radius, 0, Math.PI*2, false, fillCircle );
    if (fillCircle == true)
    {ctx.fill();
      }
    else
      {ctx.stroke();
        }
  };


  var zigzag = function(){



  ctx.lineWidth = 4;


};

zigzag();



  ctx.strokeStyle = "#be9a9a";

  ctx.beginPath();
  ctx.moveTo(478, 155);
  ctx.lineTo(860, 395);

  ctx.moveTo(860, 405);
  ctx.lineTo(400, 750);

  ctx.moveTo(478, 760);
  ctx.lineTo(860, 1015);

  ctx.moveTo(860, 1025);
  ctx.lineTo(440, 1370);






  ctx.stroke();




  </script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/sliderhowitworks.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock %}
