{% extends 'base.html' %}
{% load static %}


{% block title %}Prices{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style_prices.css' %}"/><!-- string Prices-->
<link rel="stylesheet" href="{% static 'css/style_buy.css' %}"><!-- string Prices  {{type.get_label_display}}-->
<div class ="section_Prices">

 {%for element in types_list %}
<div class="{{element.type}}" height = "200" width="10" >
<div class = "name_info">{{element.type}}</div>
  <div class = "description_Prices"><p> {{element.desc}} </p></div>
  {% if element.days is 1 %}
  <div class="day"> {{element.days}} Day</div>
  {% else %}
<div class="day"> {{element.days}} Days</div>
{% endif %}
<div class = "price"> {{element.price}} ₴</div>
<div class = "buy">
  {% if user.is_authenticated %}
<a class="gradient-btn_Prices"  href="{{element.get_absolute_url}}">Add to basket</a>
<a class="gradient_btn_Prices"  href="{{element.get_absolute_url}}">Add to basket</a>
{%else%}
<a class="gradient-btn_Prices"  href="{% url 'login' %}">Log In to buy</a>
<a class="gradient_btn_Prices"  href="{% url 'login' %}">Log In to buy</a>
{% endif %}
</div>
</div>
 {% endfor %}



<h2 class="title_review">Trusted by over 3 customers, here's what they have to say</h2>


      <div class="slider owl-carousel">

     {%for review in reviews_list %}
      <div class="slider__item">
      <h3 class="slider__title ">{{review.title}} </h3>
      <div class="span slider__rating-label"><p>{{review.text}}</p></div>
      <div class="user_name">{{review.user.get_full_name}}</div>
      <div class="slider__year">{{review.date_write}}</div>
            </div>
      {% endfor %}

</div>


{% endblock %}
