{% extends 'base.html' %}
{% load static %}


{% block title %}Prices{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/prices.css' %}"> <!-- price page-->
<script src="js/buy.js" charset="utf-8"></script> <!-- price page-->
<link rel="stylesheet" href="{% static 'css/buy1.css' %}"> <!-- price page-->
<article>
	<div class="main__desc">
			<div class = "description">
				<div class = "main__description">
				<div class = "description__lite"><h2>Choose the Shocard Lite to</h2>
				<p>visit during 1 day - 5 attractions, 3 days - 10 attractions, 5 days - 15 attractions, without guide tour, special line entry.</></div>
				</div>
				<div class = "lite__photo"><img src ="{% static 'images/katok.jpg' %}" width = "600" height = "450"  alt = "1">
				</div>
			</div>
		</div>


  <section>
    <div class = "tickets">
      {%for element in list_lite %}
      <div class="ticket" >
      	 <div class = "ticket__infor">
          			<div class = "logo__image"><img src="{% static 'images/logo-dark.png' %}" width="130" class = "logo" alt="Логотип"/></div>
                <div class = "information">
                <div class = "name_info">{{element.type}}</div>
                <div class = "img__kharkiv"><img src ="{% static 'images/kharkivmappink.png' %}" class = "img__kharkiv_map"  width = "150" height = "150"  alt = "1"></div>
          	    </div>
          	<hr/>
          	<div class = "more__information">
          		  <div class = "price">Price:
          			<div class ="main__price">{{element.price}} $</div></div>
          	<div class="day">Days:
          				<div class ="main__day">{{element.days}}</div></div>
          	</div>

            {% if user.is_authenticated %}
            <div class = "buy">
          <a class="gradient-btn_Prices"  href="{{element.get_absolute_url}}">Add to basket</a>
          <a class="gradient_btn_Prices"  href="{{element.get_absolute_url}}">Add to basket</a> </div>
          {%else%}
          <div class = "buy">
          <a class="gradient-btn_Prices"  href="{% url 'login' %}">Log In to buy</a>
          <a class="gradient_btn_Prices"  href="{% url 'login' %}">Log In to buy</a> </div>
          {% endif %}

          	</div>
            </div>
        {% endfor %}
    </div>
  </section>
  <div class="main__desc">
  		<div class = "description">
  			<div class = "main__description">
  			<div class = "description__lite"><h2>Choose the Shocard VIP to</h2>
  			<p>visit more then 25+ attractions unlimited time, with induvidual guite tour, without any lines entry.</div>
  			</div>
  			<div class = "lite__photo"><img src ="{% static 'images/katok2.jpg' %}" width = "600" height = "450"  alt = "1">
  			</div>
  		</div>
  	</div>

    <section>
      <div class = "tickets">
        {%for element in list_vip %}
        <div class="ticket" >
        	 <div class = "ticket__infor">
            			<div class = "logo__image"><img src="{% static 'images/logo-dark.png' %}" width="130" class = "logo" alt="Логотип"/></div>
                  <div class = "information">
                  <div class = "name_info">{{element.type}}</div>
                  <div class = "img__kharkiv"><img src ="{% static 'images/kharkivmappink.png' %}" class = "img__kharkiv_map"  width = "150" height = "150"  alt = "1"></div>
            	    </div>
            	<hr/>
            	<div class = "more__information">
            		  <div class = "price">Price:
            			<div class ="main__price">{{element.price}} $</div></div>
            	<div class="day">Days:
            				<div class ="main__day">{{element.days}}</div></div>
            	</div>

              {% if user.is_authenticated %}
              <div class = "buy">
            <a class="gradient-btn_Prices"  href="{{element.get_absolute_url}}">Add to basket</a>
            <a class="gradient_btn_Prices"  href="{{element.get_absolute_url}}">Add to basket</a> </div>
            {%else%}
            <div class = "buy">
            <a class="gradient-btn_Prices"  href="{% url 'login' %}">Log In to buy</a>
            <a class="gradient_btn_Prices"  href="{% url 'login' %}">Log In to buy</a> </div>
            {% endif %}

            	</div>
              </div>
          {% endfor %}
      </div>
    </section>



  </article>




{% endblock %}
