{% extends 'base.html' %}
{% load static %}


{% block title %}Guidebook{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Guidebook.css' %}" />
<link rel="stylesheet" href="{% static 'css/more_button.css' %}" />

<div class = "video-cover" data-vide-bg="{% static 'images/Video.webm' type='video/webm' %}"></div>

<div class="taxi">


<div class="sale__taxi">
  <h1 class = "sale">10% OFF<hr class =  "line" noshade ></h1>
		<div class = "line_vert"></div>
  <p class = "description__sale">Show your card and take a discount in taxi company Lubimoe. In order to get 10% off, call 222-222</p>

</div>

</div>

<div class = "help">
  <h2>Feel the rhythms of Kharkiv</h2>

    <div class = "guide_slogan"><p>Try to live a few days in the rhythm of a hospitable city and find out all its secrets that become known only when your heart skips a beat with Kharkov.</p></div>
</div>





<div class="guide_attract">
<section class= "section1">
<div class = "img_attractions">

 {%for sight in object_list %}
 <a href="{{sight.get_absolute_url}}">
  <div class = "guide_all_images">
    <div class = "guide_all_image">
    <img src="{{sight.img.url}}" width = "400" height="250" >
    <div class="text_guide">
      <p class = "text-guide1">{{sight.name_sight}}</p>
    </div>
  </div>
  </div>
</a>
{% endfor %}
  </div>

  <div class="button__more">
  	<button id ="btnMore">Load more</button></div>
</section>

</div>













    <script src="{% static 'js/more_guide.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>

{% endblock %}
